{% extends 'base.html' %}

{% block content %}
<main class="container">
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for album in albums %}
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ album.thumbnail }}"/>
              <div class="card-body">
                <p class="card-text">{{ album.about|truncate(length=128) }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ url_for(endpoint='blog.album_detail', slug=album.slug) }}">Conferir</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock content %}

